*.sdf
*.suo
*.opensdf
*.user
*.dll
*.exe
*.o
.vs

UAlbertaBot/UAB_ErrorLog.txt
UAlbertaBot/UAB_ErrorLog.txt
*.pd_
UAlbertaBot/UAB_ErrorLog.txt
BOSS/VisualStudio/BOSS.VC.db
*.ilk
*.vspx
*.png
*.zip
*.ipdb
*.iobj
UAlbertaBot/bin/UAlbertaBot.iobj
/UAlbertaBot/VisualStudio/Debug_SSCAIT
/UAlbertaBot/VisualStudio/Release_SSCAIT
/SparCraft/bin/test
*.bat
*.lastcodeanalysissucceeded
/SparCraft/VisualStudio/x64
/UAlbertaBot/VisualStudio/x64
