*.sdf
*.suo
*.opensdf
*.user
*.dll
*.exe
*.o
UAlbertaBot/UAB_ErrorLog.txt
UAlbertaBot/UAB_ErrorLog.txt
*.pd_
UAlbertaBot/UAB_ErrorLog.txt
BOSS/VisualStudio/BOSS.VC.db
*.bwta
*.db
*.ipch
*.opendb
*.db-shm
*.db-wal
*.json
*.zip
*.iobj
*.ipdb
*.map
*.pdb
*.ilk
