VisualStudio/Release
VisualStudio/Debug
VisualStudio/ipch
VisualStudio/*.txt
VisualStudio/*.vsp
emscripten/*.js
emscripten/*.mem
emscripten/*.data
bin/*.exe
bin/*.pdb
bin/*.ilk
bin/*.txt
bin/*.map
bin/*.bsc
bin/*.lib
bin/*.gpl
bin/*.zip
bin/qtdeploy/*
bin/deploy/*
bin/gnuplot/*
source/*.o
qtgui/*
build-BOSSGUI-Desktop_Qt_5_6_0_MSVC2013_32bit-Release